<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Employee</title>
</head>
<body>
<div align = "center">
    <h1>Edit Employee</h1>
    <form action="#" th:action = "@{/save}" th:object="${employee}" method="post">
        <table border="1" cellpadding="10">
            <tr>
                <td>Employee ID</td>
                <td><input type="text" th:field="*{id}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Employee First Name</td>
                <td><input type="text" th:field="*{firstName}"/></td>
            </tr>
            <tr>
                <td>Employee Last Name</td>
                <td><input type="text" th:field="*{lastName}"/></td>
            </tr>
            <tr>
                <td>Employee Date Of Birth</td>
                <td><input type="text" th:field="*{DOB}"/></td>
            </tr>
            <tr>
                <td>Employee designation</td>
                <td><input type="text" th:field="*{desig}"/></td>
            </tr>
            <tr>
                <td>Employee department</td>
                <td><input type="text" th:field="*{dept}"/></td>
            </tr>
            <tr>
                <td>Employee Years of experience</td>
                <td><input type="text" th:field="*{yearsOfExp}"/></td>
            </tr>
            <tr>
                <td>Employee Salary</td>
                <td><input type="text" th:field="*{salary}"/></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save </button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>